<h1>New Supply</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @supply} %>

<%= form_for @supply do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p><%= submit_tag "Submit" %></p>
<% end %>