<tr>
  <% if !@raw_material_transaction.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <% if f.object.new_record? %>
      <%= f.text_field :lot_number %>
    <% else %>
      <%= f.object.lot_number %>
    <% end %>
  </td>
  <td><%= f.text_field :quantity, :class => "quantity_text" %></td>
</tr>