<tr>
  <% if !@raw_material_transaction.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <% if f.object.new_record? %>
      <%= f.select :lot_number, lot_number_options(@raw_material), {:include_blank => true} %>
    <% else %>
      <%= f.object.lot_number %>
    <% end %>
  </td>
  <td><%= f.text_field :quantity, :class => "quantity_text" %></td>
</tr>