<table id="bags_table">
  <thead>
    <tr>
      <th></th>
      <th>Bag #</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% bags.each do |bag| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= check_box_tag "finished_good_transaction[removed_bag_ids][]", bag.id, false %></td>
      <td><%= bag.bag_number %></td>
      <td><%= bag.quantity %></td>
    </tr>
  <% end %>
  </tbody>
</table>