/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.notice {
  background-color: #d7ffcc;
  color: #090;
  margin: 10px 0;
  padding: 5px;
}
  .notice ul, div#primaryContent .flash-notice ul {
    margin-left: 2px;
    margin-top: 5px;
  }
    
  .notice li, div#primaryContent .flash-notice li {
    list-style: none;
    background: transparent url(icons/bullet_green.png) no-repeat 0 0;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 16px;
  }

.errors {
  background: #f7d4d4 url(icons/exclamation.png) no-repeat 2px 7px;
  color: #900;
  margin: 10px 0;
  padding: 5px 5px 5px 20px;
}
  .errors ul, div#primaryContent .errors ul {
    margin-left: 2px;
    margin-top: 5px;
  }
  .errors li, div#primaryContent .errors li {
    list-style: none;
    background: transparent url(icons/bullet_red.png) no-repeat 0 0;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 16px;
  }
  .errors h2 {
    color: #900;
    margin-top: 0 !important;
  }
  
.float_left {
  float: left;
}

.bold_label {
  font-weight: bold;
  color: black;
}
  
a.create_link {
  background: transparent url(icons/add.png) no-repeat 0 0;
  padding-left: 18px;
}

a.edit_link {
  background: transparent url(icons/edit.png) no-repeat 0 0;
  padding-left: 18px;
}

a.delete_link {
  background: transparent url(icons/delete.png) no-repeat 0 0;
  padding-left: 18px;
}

a.history_link {
  background: transparent url(icons/time.png) no-repeat 0 0;
  padding-left: 18px;
}

a.search_link {
  background: transparent url(icons/search.png) no-repeat 0 0;
  padding-left: 18px;
}

a.back_link {
  background: transparent url(icons/arrow_left.png) no-repeat 0 0;
  padding-left: 18px;
}

a.return_bag_link {
  background: transparent url(icons/basket_delete.png) no-repeat 0 0;
  padding-left: 18px;
}

.positive {
  background-color: #d7ffcc;
  padding: 5px 10px;
}

.negative {
  background-color: #F7D4D4;
  padding: 5px 10px;
}

.critical {
  background-color: #FFFF88;
  padding: 5px 10px;
}

#search_form {
  float:left;
  padding-right: 10px;
}

p.buttons {
  margin-left: 35px;
}

#total_quantity {
  color: #000;
  font-weight: bold;
}

dd.applicable_to {
  float:left;
  padding-right: 10px;
}